<nav class="navbar nav-upper navbar-expand-md fixed-top"
     [ngClass]="{'collapsed': isNavCollapsed}">
    
  <div id="top-nav">
  <button class="navbar-toggler navbar-right"
        type="button"
        (click)="toggleNavCollapse()">
    <span class="fas fa-bars"></span>      
  </button>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div [collapse]="isNavCollapsed"
       class="collapse navbar-collapse">
     <ul class="nav navbar-nav navbar-nav mr-auto navbar-right">
      <li class="nav-item"
          *ngFor="let menu of menuOptions">
        <a [routerLink]="[menu.pages[0]?.url]"
           class="menu-item"
           [ngClass]="{'active':domain==menu.id}"
           (click)="closeNavCollapse()">{{menu.name}}</a>
      </li>
    </ul>
  </div>
<!-- /.navbar-collapse -->
</div>
<div class="lower-nav">
  text
</div>
</nav>
