#top-nav{
    width: 100%;
    display: block;
    position: relative;
    top: 9em;
    text-align: center;
    width: 100%;
}
.navbar-collapse{
    width: 100%;
}
.navbar-nav{
    margin: auto;

    text-align: center;
}
.navbar-nav>.nav-item{
    padding: 0.5em 2em;
    background-color: #fff;
}

.navbar-nav>.nav-item>.menu-item {
    display: block;
    color: #555;
    font-weight: 500;
    font-size: 1.2em;
    /* padding: 0.3em 0;
    margin: 0 0.3em; */
    width: 100%;
    user-select: none;
    outline: 0;
    user-select: none;
    outline: none;
    background-color: #fff;
}

.navbar-nav>.nav-item>.menu-item:hover {
    color: #000;
    text-decoration: none;
}
.navbar-nav>.nav-item>.menu-item.active {
    color: #0D47A1;
}
.navbar-toggler{
    float: right;
    font-size: 1.5em;
    color: rgb(100,100,100);
    outline: none;
}
.navbar-toggler:hover{
    color: #fff;
    background-color: rgb(100, 100, 100);
}

@media only screen and (max-width: 600px) {
    .navbar.collapsed{
      border-bottom: 1px solid #CFD8DC;
    }
    .navbar-nav{
        width: 100%;
    }
    #top-nav{
        text-align: left;
        top: 0;
    }
  }